/* =====================
Base Element Styles
======================== */

* {
  box-sizing: border-box;

}

body {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

header {
  background-color: whitesmoke;
}

p {
  font-weight: lighter;
  color: #7c7e82;
  padding: 7%;
  font-size: 1.2em;
  text-align: inherit;
  word-spacing: .2em;
  margin: 0 auto;

}

h2 {
  font-size: 1.4em;
  margin: 4em 2em 1.5em 2em;
}

h3 {
  font-size: 1.5em;
  color: #6a6c70;
  margin: 0 auto;
}



h2, h3, span {
  font-weight: inherit;
  color: #6a6c70;


}

img {
  margin: 1em auto;
  padding: 5%;
  max-width: 100%

}

.title {
  font-weight: 600;
  color: #4b4e54;
  padding-top: 1em;
  margin-top: 0;
}

/* =================================
  Base Layout Styles
==================================== */


.main-nav a {
  display: block;
  font-weight: bolder;
  color: #4b4e54;
  text-decoration: none;
  letter-spacing: 1px;
}

.main-nav li {
  display: block;
  text-align: center;
  padding: 1.2em;
  background-color: white;
  margin: 7px auto;

}

.profilepic {
padding: 10% 15% 3% 15%;

}

.containerp {
  padding: 0 3% 20% 3%;
}

footer {
  background-color: whitesmoke;
  padding-top: 2em;


}

footer p {
  margin: 0;
  padding: 5% 2% 5% 2%;

}

footer a {
  text-decoration: none;
  color: gray;

}

.ffloat1 {
  display: inline-block;
  width: 40%;
  float: left;
  text-align: center;
  vertical-align: inherit;

}

.ffloat2 {
  display: inline-block;
  width: 40%;
  float: right;
  margin: 2%;
  text-align: center;
  vertical-align: top;

}

@media (min-width: 768px) {

  .main-nav li {
    background-color: whitesmoke;
    display: inline-block;
  }


  .wrapper {
  width: 85%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 820px;
}

  .floatimg {
    float: right;
    width: 46.5%

  }

  .floatp {
    float: left;
    width: 46.5%
  }

  .profilepic {
    padding: 5% 5% 15% 1%;
    vertical-align: middle;
    margin: 0px;

  }

  .wrapperp {
    margin-left: auto;
    margin-right: auto;
    padding: 10% 1% 15% 15%;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1em;
    text-align: left;


  }

  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 820px;
    vertical-align: top;
  }

  .one {
    float: left;
    width: 50%;


  }

  .two {
    float: right;
    width: 50%;

  }

  .three {
    float: left;
    width: 50%;
  }

  .four {
    float: right;
    width: 50%;
  }

  .five {
    float: left;
    width: 50%;
  }

  .six {
    float: right;
    width: 50%;
  }


  .block img {
    padding: 2%;

  }

  .block p {
    font-size: 1em;

  }

@media (min-width: 1024px) {

body {
  max-width: 1440px;
  text-align: center;
}

.title {
  text-align: left;

}

  .titlediv {
    float: left;
    width: 50%;

  }

  .navdiv {
    float: right;
    width: 50%;

  }

.profilepic {
    margin-top: 20%;
}

.wrapperp {
    margin-top: 20%;

}

  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    max-width: 1030px;
    vertical-align: top;
  }

  .one {
    float: left;
    width: 32%;


  }

  .two {
    float: left;
    width: 32%;

  }

  .three {
    float: left;
    width: 32%;
  }

  .four {
    float: left;
    width: 32%;
  }

  .five {
    float: left;
    width: 32%;
  }

  .six {
    float: left;
    width: 32%;
  }


}


  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
