/* =====================
Base Element Styles
======================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

header {
  background-color: whitesmoke;
}

p {
  font-weight: lighter;
  color: #7c7e82;
  padding: 5%;
  font-size: 1.2em;
  text-align: center;
  word-spacing: .2em;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  /* margin: 4em 2em 1.5em 2em; */
}

h3 {
  font-size: 1.5em;
  color: #6a6c70;
  margin: 0 auto;
  text-align: center;
}



h2, h3, span {
  font-weight: inherit;
  color: #6a6c70;
}

li:hover {
  color: lavender;
}

a:hover {
  color: lavender;
  text-decoration: none;
}

img {
  margin: 1em auto;
  padding: 5%;
  max-width: 100%;
}

footer {
  background-color: whitesmoke;
  padding-top: 2em;
  text-align: center;
  margin: 0 auto;
}


/* =================================
  Base Layout Styles
==================================== */

.title {
  color: #4b4e54;
  padding-top: 1em;
  margin-top: 0;
}

.main-nav a {
  display: block;
  font-weight: bolder;
  color: #4b4e54;
  text-decoration: none;
  letter-spacing: 1px;
}

.main-nav a:hover {
  color: lavender;
}

.main-nav li {
  display: block;
  text-align: center;
  padding: 1.2em;
  background-color: white;
  margin: 7px auto;
}

.profilepic {
padding: 10% 15% 3% 15%;
}

.containerp {
  padding: 0 3% 20% 3%;
}

.skills {
  padding: 2% 0 5% 0;
  margin:  5% 0 5% 0;
  background-color: white;
  text-align: center;
}

.skills ul {
  display: inline-block;
  text-align: center;
  width: 40%;
}


.skills li {
  border-radius: 3em;
  color: white;
  background-color: lavender;
  border: 3px solid lavender;
  border-color: white;
  text-align: center;
}


footer p {
  margin: 0;
  padding: 5% 2% 5% 2%;
}

footer a {
  text-decoration: none;
  color: gray;
}

.ffloat1 {
  display: inline-block;
  width: 40%;
  float: left;
  text-align: center;
  vertical-align: inherit;
}

.ffloat2 {
  display: inline-block;
  width: 40%;
  float: right;
  margin: 2%;
  text-align: center;
  vertical-align: top;
}


@media (min-width: 768px) {

  .main-nav li {
    background-color: whitesmoke;
    display: inline-block;
  }



  .wrapper {
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 820px;
}

  .floatimg {
    float: right;
    width: 46.5%

  }

  .floatp {
    float: left;
    width: 46.5%
  }

  .profilepic {
    padding: 5% 5% 15% 1%;
    vertical-align: middle;
    margin: 0px;

  }

  .wrapperp {
    margin-left: auto;
    margin-right: auto;
    padding: 10% 1% 15% 15%;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1em;
    text-align: left;


  }

  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    max-width: 820px;
    vertical-align: top;
  }

  .one, .three, .five {
    float: left;
    width: 50%;


  }

  .two, .four, .six {
    float: right;
    width: 50%;

  }


  .block img {
    padding: 2%;

  }

  .block p {
    font-size: 1em;

  }

}

@media (min-width: 1024px) {

body {

  text-align: center;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}


.title {
  text-align: left;
  padding-left: 5%;
}

  .titlediv {
    float: left;
    width: 50%;
  }

  .navdiv {
    float: right;
    width: 50%;
  }

 ul li {
   font-size: 1.2em;
 }


.profilepic {
    margin: 8% 0 20% 3%;
    padding: 0;
}

.wrapperp {
    margin-top: 20%;
    padding: 0;
    font-size: 1.3em;
}

  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    max-width: 1030px;
    vertical-align: top;
  }

  .one, .three, .five {
    float: left;
    width: 32%;
  }

  .two, .four, .six {
    float: left;
    width: 32%;
  }

  .contactp {
    padding: 5% 20% 0 20%;
  }

  footer {
    max-width: 1030px;
    text-align: center;
  }
}

  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
}
